# Importing Modules

In [21]:
import pandas as pd
import numpy as np
from datetime import datetime

In [22]:
transactions = pd.read_excel('Transactions.xlsx')
transactions.head()

        Date  Description     Type  Amount
0 2020-11-05       Coffee   expnse     600
1 2020-11-05  Dad payment  expense    3000

In [23]:
Add_Expense = input('Add to transactions? ')

Add to transactions? yes

In [24]:
def add_transaction():
    if(Add_Expense.lower()=='yes'):
        Date = datetime.strptime(input('Date:'),"%Y-%m-%d")
        Description = input('Desc: ')
        Type = input('Type: ')
        if Type.lower()== 'expense':
            Amount = -float(input('Amount:R  '))
        else:
            Amount = -float(input('Amount:R  '))
        transactions_new = transactions.append({'Date':Date,'Description':Description,'Type':Type,'Amount':Amount},ignore_index=True)
        #transactions.to_excel('Transactions.xlsx')
        print('Updated')
        return transactions_new
    else:
        return transactions

In [25]:
transactions = add_transaction()
transactions.to_excel('Transactions.xlsx',index=False)
transactions

Date:2020-05-12
Desc: test
Type: expense
Amount:R  900
Updated

        Date  Description     Type  Amount
0 2020-11-05       Coffee   expnse   600.0
1 2020-11-05  Dad payment  expense  3000.0
2 2020-05-12         test  expense  -900.0