In [61]:
import pandas as pd
import numpy as np

# Importing the data form excel

In [101]:
BS=pd.DataFrame(pd.read_excel('D:\\MA DISCOUNT COVID\\BEURSSKEDULE 2020.xlsx'))
BS.head(2)

     ACC            ID             Naam  Graad  KLAS Sport  Percentage COACH
0  CO-05  2.031791e+11    MOSHE LENTORO     11   4.0  R7/A         1.0     M
1  FE-02  5.122057e+11  FERREIRA DANIëL      8   5.0  R7/A         1.0     M

In [112]:
KSN=pd.DataFrame(pd.read_excel('D:\\MA DISCOUNT COVID\\KOSHUIS NAAMLYS  2020 (1).xlsx'))
KSN=KSN[KSN['Graad']!=12]
KSN=KSN[KSN['Beurs'].isnull()]
KSN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 152
Data columns (total 6 columns):
ACC          92 non-null object
Naam         92 non-null object
Sex          92 non-null object
Graad        92 non-null int64
Total P/M    92 non-null int64
Beurs        0 non-null object
dtypes: int64(2), object(4)
memory usage: 5.0+ KB