# Importing Modules

In [35]:
import pandas as pd
import numpy as np
from datetime import date as dt
from datetime import datetime as dtt

# Importing Data
## Creating DataFrame

In [36]:
df=pd.DataFrame(pd.read_excel('Sample.xlsx'))
df.drop(['DATE DD/MM/YYYY','REMARKS ','INSTRUMENTS NAVAIDS'],axis = 1 , inplace= True)
col = list(df.columns)
#col

# Creating list of columns to be dropped

In [37]:
def drop (cols):
    col_d=[]
    for i in (cols):
        if df[i].sum()==0:
            col_d.append(i)
    return col_d

In [38]:
col_drop = drop(col)
#col_drop

# Importing data and dropping columns from drop list

In [39]:
df=pd.DataFrame(pd.read_excel('Sample.xlsx'))
df.drop(col_drop,axis = 1 , inplace= True)
#df

# User prompt for partial summary

In [40]:
partial_sum = input('Sumarize from a start date : ')
if partial_sum.lower() =='no':
    d='2013,01,01'
    d = dtt.strptime(d,'%Y,%m,%d')
else:
    d = input('Summary Start Date: ')
    d = dtt.strptime(d,'%Y,%m,%d')

Sumarize from a start date : no

# Filtering Data frame based on User defined date

In [41]:
filtered = df[df['DATE DD/MM/YYYY']>=d]
summary=filtered.groupby(['TYPE']).sum()

# Determining date last flown (DLF) by type from Filterd DataFrame

In [42]:
DLF = filtered[['DATE DD/MM/YYYY','TYPE']].groupby(['TYPE']).max()
#DLF

# Creating initial Summary

In [43]:
summary = filtered.groupby(['TYPE']).sum()
summary['DATE LAST FLOWN']=DLF['DATE DD/MM/YYYY']
summary.drop(['LANDINGS DAY','LANDINGS NIGHT'],axis=1,inplace=True)
#summary

# Creating list of columns to drop from initial summary

In [44]:
scol=list(summary[summary.columns].drop(['DATE LAST FLOWN'],axis = 1))
#scol

In [45]:
def sdrop(scol):
    scolD=[]
    for i in (scol):
        if summary[i].sum() == 0:
            scolD.append(i)
    return scolD

In [46]:
scolD=sdrop(scol)
#scolD

# Creating final Summary with columns droped
## Writing summary to Excel

In [47]:
Summary_Final = summary.drop(scolD,axis=1)
Summary_Final.to_excel('sum.xlsx')
Summary_Final

,INSTRUMENTS ACTUAL,INSTRUMENTS FSTD,FSTD,SINGLE DAY DUAL,SINGLE DAY PIC,SINGLE NIGHT DUAL,SINGLE NIGHT PIC,DATE LAST FLOWN
TYPE,,,,,,,,
C 150,0.0,0.0,0.0,6.5,0.6,0.0,0.0,2020-07-23
C 172,5.9,0.0,0.0,6.8,25.2,12.2,1.0,2019-03-16
C 210,0.0,0.0,0.0,1.5,0.0,0.0,0.0,2015-02-05
C 210 T,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2017-11-14
FRASCA,0.0,5.0,5.0,0.0,0.0,0.0,0.0,2014-07-19
P 28 A 140,0.0,0.0,0.0,0.0,2.6,0.0,0.0,2018-06-23
P 28 A 180,0.0,0.0,0.0,0.0,1.6,0.0,0.0,2017-02-16
P28 A 160,0.0,0.0,0.0,51.3,15.9,0.0,0.0,2014-07-22
PA 28 R 180,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2014-12-04
X 297,0.0,0.0,0.0,2.0,6.4,0.0,0.0,2018-05-26

In [48]:
print('Done')

Done