In [1]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

# Creating a mulit index data frame

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [5]:
df

             A         B
G1 1  0.162977 -1.051218
   2  0.919667  0.406363
   3  0.803583 -0.548391
G2 1 -1.007064  0.485660
   2  0.209185  0.665190
   3  0.934688 -0.819043

# Indexing and slicing a multi index data frame

In [6]:
df.loc['G1'].loc[1]

A    0.162977
B   -1.051218
Name: 1, dtype: float64

In [7]:
#Naming index names 
df.index.names = ['Groups','Num']

In [8]:
df

                   A         B
Groups Num
G1     1    0.162977 -1.051218
       2    0.919667  0.406363
       3    0.803583 -0.548391
G2     1   -1.007064  0.485660
       2    0.209185  0.665190
       3    0.934688 -0.819043

In [9]:
#Retruning the value from group 2 number 2 column B 
df.loc['G2'].loc[2]['B']

0.6651904000097439

# Cross section selection on multi level index data frames

In [10]:
df

                   A         B
Groups Num
G1     1    0.162977 -1.051218
       2    0.919667  0.406363
       3    0.803583 -0.548391
G2     1   -1.007064  0.485660
       2    0.209185  0.665190
       3    0.934688 -0.819043

In [11]:
#Returning the values for column A and B for both groups only for number 1 index 
df.xs(1,level = 'Num')

               A         B
Groups
G1      0.162977 -1.051218
G2     -1.007064  0.485660