In [2]:
import pandas as pd
import datetime

In [10]:
# -*- coding: utf-8 -*-
"""
Spyder Editor

Author: Arno Combrinck
Date:   2019-07-27
"""

# Symbolic link from /usr/lib64/libnsl.so.2.0.0 to /usr/lib64/libnsl.so.1 required

from __future__ import print_function

import traceback
import os
os.chdir("C:\\Oracle\\instantclient_19_3")

import cx_Oracle
import sys

def connectToOracleDB():
    
    global connection
    global cursor
    global username
    global password
    global host
    global service
    
    try:
        
        connection = cx_Oracle.connect(username, password, host+"/"+service)
        
        cursor = connection.cursor()
        
        print("\nOracle DB connection initialized\n")
        
    except Exception as err:
        exc_type, exc_value, exc_tb = sys.exc_info()
        traceback.print_exception(exc_type, exc_value, exc_tb)
        print("\n{}\n".format(err))
        exit()
           
def executeSQLquery( sql ):
    
    global cursor
    
    cursor.execute( sql )
    
    return cursor.fetchall()

def displaySQLresults( results ):

    for row in results:
        print("{}\n".format(row))

def main():
    global connection
    global cursor
    global username
    global password
    global host
    global service
    
    connection = 0
    cursor = 0
    username = "PECUTILOTST"
    password = "PECUTILOTST"
    host = "dboratst.spsi.co.za"
    service = "tst"
    
    connectToOracleDB()
    
    df =pd.DataFrame = executeSQLquery( """SELECT * FROM ad_user 
                              where name like '%Raymond%'
                              and password is not null""" )
    
    displaySQLresults( df[0][0] )
    
    
    
main()

Oracle DB connection initialized

TypeError: 'int' object is not iterable

In [4]:
df = pd.read_excel('MeterReadings.xlsx')

In [23]:
df.head(2)

,METER_MAKE,METER_SERIAL_N,TOTAL_KWHP,kWH,TOTAL_KWHN,TOTAL_KVARP,TOTAL_KVARN,kWharh,KVA,ENTRY_TIME,CREATE_TIME
0,ECHELON,ELON115349,455482.384,21.72,0.0,188638.652,0.402,5.56,44.840696,2020-06-12 10:00,2020-06-12 11:07
1,ECHELON,ELON115349,455460.664,18.40,0.0,188633.092,0.402,3.12,37.325294,2020-06-12 09:30,2020-06-12 11:07

In [40]:
df['ENTRY_TIME'].iloc[0].hour

AttributeError: 'str' object has no attribute 'hour'