In [2]:
import numpy as np

In [3]:
import pandas as pd

In [16]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'index 1 ':10,'b':20,'c':30}

In [8]:
#Creating a series that is automatically indexed
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [13]:
#Setting the index of a series
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [17]:
#Creating a series using a dictionary, will use the keys of the dictionary as the index of the series
pd.Series(d)

index 1     10
b           20
c           30
dtype: int64

# Selecting and indexing of serieses

In [18]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [19]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [21]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [25]:
#Returing the value of USA in series 1
ser1['USA']

1

Adding series togethere will add elements based on the index of the series. Where the indexes are not found in both series a NaN value will be returned

In [27]:
#Adding ser1 to ser2
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64