In [63]:
import numpy as np 
import pandas as pd

In [39]:
from numpy.random import randn

In [40]:
np.random.seed(101)

In [41]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [42]:
#A data frame is basically a collection of serieses sharing an index
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
type(df['W'])

pandas.core.series.Series

Indexing and slicing a data frame

In [44]:
#Returining all the values in the W column from the data frame
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [45]:
#Returning multiple columns from a data frame
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [46]:
#Creating a new column in the dataframe by adding values from existing columns 
df['new'] = df['W'] + df['Y']

In [47]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [48]:
#Removing a column from a data frame
#Axis by default is 0 reffering to rows and must be set to 1 for columns 
#Inplace by default is false meaning the original data frame will still have the column being dropped.

df.drop('new',axis = 1 , inplace= True)

In [49]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
#Removing a row from a data frame
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [51]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [53]:
#Retuning the values in row A using loc (Location) this is by row index value
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [55]:
#Returning all the values in row c using iloc (Index location) this is by row index number
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [57]:
#Returning the value at row b column y using loc
df.loc['B','Y']

-0.8480769834036315

In [60]:
#Returning the value at row b column y using iloc
df.iloc[1,2]

-0.8480769834036315

In [64]:
#Selecting values from multiple rows and columns 
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077