# Importing modules

In [16]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

# Importing data

In [17]:
skool = pd.DataFrame(pd.read_excel('C:\\Users\\raymondk\\Desktop\\Study\\Python\\PlayPython\\Skool VS Koshuis\\Input\\Skool.xlsx'))
#skool.head(2)

In [18]:
koshuis = pd.DataFrame(pd.read_excel('C:\\Users\\raymondk\\Desktop\\Study\\Python\\PlayPython\\Skool VS Koshuis\\Input\\Koshuis.xlsx'))
#koshuis.head(2)

In [19]:
fee = pd.DataFrame(pd.read_excel('C:\\Users\\raymondk\\Desktop\\Study\\Python\\PlayPython\\Skool VS Koshuis\\Input\\Fees.xlsx'))
#fee

# Creating Calculation DataFrame

In [20]:
calc = skool
#calc.head(2)

### Determining if kind is in Hostal

In [21]:
calc['IN HOSTAL'] = skool['FAM CODE'].isin(koshuis['FAM CODE'])
#calc.head(5)

### Brining in the Kos_Amount for each child
#### If there is no amount a 0.0 is populated

In [22]:
calc['KOS AMOUNT'] = pd.merge(skool,koshuis,how = 'left',on='FAM CODE')['AMOUNT'].fillna(0)
#calc.head(5)

In [23]:
def amount(x):
    '''This funciton will determine the applicable fee based on if the child is in the hostal or not'''
    if x == True:
        return fee['AMOUNT'][1]
    else:
        return fee['AMOUNT'][0]

In [24]:
calc['BASE AMOUNT']=round(calc['IN HOSTAL'].apply(lambda x : amount(x)),2)
#calc.head(2)

In [25]:
def initial_amount(x):
    if x == 8:
        return fee['AMOUNT'][2]
    else: 
        return 0

In [26]:
calc['INITIAL AMOUNT']=calc['GR'].apply(lambda x : initial_amount(x))
calc['TOTAL']=calc['BASE AMOUNT']+calc['INITIAL AMOUNT']+calc['KOS AMOUNT']
calc.to_excel('C:\\Users\\raymondk\\Desktop\\Study\\Python\\PlayPython\\Skool VS Koshuis\\Output\\Final_All.xlsx',sheet_name='Almal',index=False)

In [27]:
Final=calc[(calc['GR']!=12) & (calc['IN HOSTAL']==False)]
Final.to_excel('C:\\Users\\raymondk\\Desktop\\Study\\Python\\PlayPython\\Skool VS Koshuis\\Output\\Final_Filterd.xlsx',sheet_name='Filterd',index=False)

In [28]:
Final.head()

,FAM CODE,NAME,GR,IN HOSTAL,KOS AMOUNT,BASE AMOUNT,INITIAL AMOUNT,TOTAL
0,K1,Kind 1,8,False,0.0,2000,5000,7000.0
4,K4,Kind 4,8,False,0.0,2000,5000,7000.0
5,K5,Kind 5,8,False,0.0,2000,5000,7000.0
7,K7,Kind 7,9,False,0.0,2000,0,2000.0
9,K9,Kind 9,9,False,0.0,2000,0,2000.0

### User notifications

In [29]:
location = str('C:\\Users\\raymondk\\Desktop\\Study\\Python\\PlayPython\\Skool VS Koshuis\\Output')

In [30]:
print('Code Completed\nDate:{}/{}/{} \nTime:{}:{}:{}\nOutput Files Created\nLocation :{}'.format(dt.now().year,
                                                                                                 dt.now().month,
                                                                                                 dt.now().day,
                                                                                                 dt.now().hour,
                                                                                                 dt.now().minute,
                                                                                                 dt.now().second,
                                                                                                 location))

Code Completed
Date:2020/11/11
Time:18:10:57
Output Files Created
Location :C:\Users\raymondk\Desktop\Study\Python\PlayPython\Skool VS Koshuis\Output