In [79]:
import numpy as np
import pandas as pd
import math as m

In [80]:
df = pd.DataFrame(pd.read_excel('PlayPython.xlsx'))

In [81]:
df.head()

    x   y
0   3  12
1   5  20
2   7  28
3   9  36
4  11  44

In [82]:
def time2(x):
    if x >=9:
        return x ** 4
    else:
        return x * 2

In [91]:
df2['x']=df['x'].apply(time2)
df2

0                                                      6
1                                                     10
2                                                     14
3                                                   6561
4                                                  14641
5                                                  28561
6                                                  50625
7                                                  83521
8                                                 130321
9                                                 194481
10                                                279841
11                                                390625
12                                                531441
new    0       9
1      25
2      49
3      81
4     ...
x      0          6
1         10
2         14
3      ...
Name: x, dtype: object

In [59]:
df2.to_excel('output.xlsx',sheet_name='Formula applied',index=False)