In [4]:
import pandas as pd
import numpy as np

# Importing the data form excel

In [71]:
BS=pd.DataFrame(pd.read_excel('D:\\MA DISCOUNT COVID\\BEURSSKEDULE 2020.xlsx'))
BS.head(2)

     ACC            ID             Naam  Graad  KLAS Sport  Percentage COACH
0  CO-05  2.031791e+11    MOSHE LENTORO     11   4.0  R7/A         1.0     M
1  FE-02  5.122057e+11  FERREIRA DANIëL      8   5.0  R7/A         1.0     M

In [73]:
KSN=pd.DataFrame(pd.read_excel('D:\\MA DISCOUNT COVID\\KOSHUIS NAAMLYS  2020 (1).xlsx'))
KSN.head(2)

     ACC           Naam Sex  Graad  Total P/M
0  BA-32   Banger Yogan   D     11       2725
1  BA-37  Banda Chantel   D     11       2725

In [86]:
koshuis=KSN['ACC'].unique()

skool =BS['ACC'].unique()

In [88]:
skool

array(['CO-05', 'FE-02', 'FI-02', 'G97', 'HO-04', 'HO-07', 'JA-05',
       'JU-02', 'LO-08', 'MA-211', 'MA-222', 'MA-232', 'MA-270', 'MA-274',
       'MA-275', 'MA-283', 'MA-284', 'MA-301', 'MA-308', 'MA-309',
       'MA-327', 'MB-23', 'MH-19', 'MK-19', 'ML-14', 'MN-36', 'MO-64',
       'MO-65', 'MO-68', 'ND-13', 'ND-15', 'ND-19', 'NK-31', 'NK-42',
       'NY-17', 'OS-01', 'PU-04', 'RA-15', 'RA-16', 'MH-15', 'MT-13'],
      dtype=object)

In [89]:
def Hostal(X):
    for i in skool:
        if i in koshuis:
            print("Hostal")
        else:
            print("Not Hostal")

    return i

In [90]:
Hostal(skool)

Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Not Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Not Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal
Hostal

'MT-13'