In [89]:
import pandas as pd

# Importing the data form excel

In [90]:
J=pd.DataFrame(pd.read_excel('Jannie.xlsx'))

In [91]:
P=pd.DataFrame(pd.read_excel('Pastel.xlsx'))

# Bringing in the Pastel number of kids per family code
### Output will populate record where a family code match could not be made

In [92]:
J['Pastel NR Kids']=P[P['Family code']==J['Family Code']]['No of Kids']
J['Pastel amount']=P[P['Family code']==J['Family Code']]['Heffing']
J[J['Pastel amount'].isna()]

Empty DataFrame
Columns: [Van, Family Code, Nr of kids, amount, Pastel NR Kids, Pastel amount]
Index: []

# Calculating the differences between the pastel number of kids and Janie

In [93]:
J['Difference in Number of kids']=J['Pastel NR Kids']-J['Nr of kids']

# Defining a function to show if the difference is in the number of kids is more or less than that of Pastel

In [94]:
def analysisNRKids(x):
    '''This function takes the difference in number of kids and determines 
    if Janie has more or less or the same number of kids than Pastel'''
    for i in x:
        """check if number is even"""
        if i <0:
            #return 'Positive'
            return("Janie has {} more kids than Pastel".format(abs(int(i))))
        
        elif i >0:
            #return 'negative'
            return ("Janie has {} less kids than Pastel".format(abs(int(i))))
        elif i == i :
            return ('Number of kids are the same')
        else:
            return 'Please confirm import data'

In [95]:
J['Number of kids Analysis']=J['Difference in Number of kids'].apply(lambda x : analysisNRKids([x]))
J[['Van','Family Code','Nr of kids','amount','Pastel NR Kids','Pastel amount','Number of kids Analysis']]

,Van,Family Code,Nr of kids,amount,Pastel NR Kids,Pastel amount,Number of kids Analysis
0,Kriel,K58,5,30,5,25,Number of kids are the same
1,Spies,S89,1,6,12,60,Janie has 11 less kids than Pastel
2,Tenus,T12,5,30,3,15,Janie has 2 more kids than Pastel
3,Spark,S890,6,36,4,20,Janie has 2 more kids than Pastel
4,Yves,y89,4,24,8,40,Janie has 4 less kids than Pastel
5,Joubert,J890-980,6,36,10,50,Janie has 4 less kids than Pastel

In [96]:
Koshuis = float(input('Koshuis ekstra:R '))

Koshuis ekstra:R 70.5

In [98]:
J['Koshuis total']=J['Pastel NR Kids']*J['Pastel amount']*Koshuis
Final = J[['Van','Family Code','Nr of kids','amount','Pastel NR Kids','Pastel amount','Koshuis total','Number of kids Analysis']]
Final.to_excel('Final.xlsx',index=False)
Final

,Van,Family Code,Nr of kids,amount,Pastel NR Kids,Pastel amount,Koshuis total,Number of kids Analysis
0,Kriel,K58,5,30,5,25,8812.5,Number of kids are the same
1,Spies,S89,1,6,12,60,50760.0,Janie has 11 less kids than Pastel
2,Tenus,T12,5,30,3,15,3172.5,Janie has 2 more kids than Pastel
3,Spark,S890,6,36,4,20,5640.0,Janie has 2 more kids than Pastel
4,Yves,y89,4,24,8,40,22560.0,Janie has 4 less kids than Pastel
5,Joubert,J890-980,6,36,10,50,35250.0,Janie has 4 less kids than Pastel